{%extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}


{% block content %}
{{block.super}}
<div class="container">
  <!-- <div class="row"> -->
    <div class="m-4">
      <div class="card" style="width: 18rem;">
        <div class="card-image">
          <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="Card image cap">
          <div class="image-overlay">
            <a href="" style="text-decoration: none;"><i class="bi bi-arrow-right-circle text-white"></i></a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text.</p>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>

{% endblock %}


