{%extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}


{% block content %}
{{ block.super}}
<div class="container">
  <!-- <div class="row"> -->
    {% if projects %}
    <div class="m-4">
      {% for project in projects %}
      <div class="card" style="width: 18rem;">
        <div class="card-image">
          <a href="{% url 'disp_project' project.id %}">
            <img class="card-img-top" src="{{project.proj_img.url}}" alt="Card image cap">
          </a>
          <div class="image-overlay">
            <a href="" style="text-decoration: none;"><i class="bi bi-arrow-right-circle text-white"></i></a>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'disp_project' project.id %}">{{project.name}}</a></h5>
          <p class="card-text">{{project.desc}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    {%endif%}
  <!-- </div> -->
</div>
{% endblock %}


