{% load static %} <div class="navigation">
  <div class="navbar fixed-top bg-white">
    <nav class="container">
      <form class="mb-0 h1" id="searchform" action="{% url 'search_project' %}">
        <input name="project" autocomplete="off" id="searching" class="form-control d-none d-md-block"
          placeholder="Search">
        <i class="spinner "></i>
      </form>
      <span class="navbar-brand mb-0 h1 ml-auto mr-auto">
        <a href="{% url 'home' %}"><img src="{% static 'img/awww_logo.png' %}" alt="logo" style="width: 103px;"
            class="logo"></a>
      </span>
      <span class="pull-right">
        <div class="nav-icons">
          <a href="/" class="mr-2 nav-links">Home</a>
          <a href="/profile/{{request.user.id}}" class="mr-2 nav-links">Profile</a>
          <a href="/accounts/login/" class="mr-2 nav-links">Login/Register</a>
          <a href="/logout" class=" mr-2 nav-links">Logout</a>
          <button class="submit-website"><a href="/create_project" class="mr-2 text-white">SubmitWebsite</a></button>
        </div>
      </span>
    </nav>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document" style="position: fixed;top: 8%;right: 13%;">
      <div class="modal-content" style="width: 180%;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-left ">
          <ul class="modal-text">
            <li><a href="/profile/{{request.user.id}}" class="text-modal">Profile</a></li>
            <hr>
            <li><button><a href="/create_project" class="text-modal">Submit Website</a></button></li>
            <hr>
            <li><a href="/logout" class="text-modal">Logout</a></li>
            <hr>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>


  <!-- <header>
  <div class="px-3 py-2 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap" /></svg>
        </a>
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="/" class="nav-link text-secondary">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#home" /></svg> Home </a>
          </li>
          <li>
            <a href="/profile/{{request.user.id}}" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#speedometer2" /></svg> Profile </a>
          </li>
          <li>
            <a href="/create_project" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#table" /></svg> Add Project</a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#grid"/></svg> Products </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                <use xlink:href="#people-circle" /></svg> Customers </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" action="{% url 'search_project' %}" role="search">
        <input type="search" class="form-control" placeholder="Search projects" aria-label="Search" na>
      </form>
      <div class="text-end">
        <button type="button" class="btn btn-light text-dark me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
    </div>
  </div>
</header> -->
  <!-- <header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="#" class="nav-link text-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"/></svg>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                Dashboard
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
                Orders
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                Products
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"/></svg>
                Customers
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-light text-dark me-2">Login</button>
          <button type="button" class="btn btn-primary">Sign-up</button>
        </div>
      </div>
    </div>
  </header> -->
  <!-- <br> -->