/* h1 {
  color: yellow;
} */

* {
  font-family: 'Roboto',
    sans-serif;
  margin: 0;
  padding: 0;
}

/* NAVBAR  */
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    /* font-family: 'Varela Round', sans-serif; */
}

.navbar {
  	z-index: 1040;
}
.side-nav {
  margin-top: 45px !important;
}

.double-nav .breadcrumb-dn p {
    color: #fff;
}

@media (min-width: 1200px){
.fixed-sn main {
    margin-left: 20% !important;
    margin-right: 20% !important;
  }
}
/* END NAVBAR  */

/* HOMEPAGE  */

/* card-overlay */
.card-image {
  position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.5);
  }

.card:hover .image-overlay {
opacity: 1;
  }

.bi-arrow-right-circle{
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
    font-size: 30px;
    margin-top: 150px;
    margin-right: 10px;
    position: relative;
    /* align-self: flex-end; */

}
/* end overlay  */
/* END HOMEPAGE  */