{%extends 'base.html'%} {% load bootstrap4 %} {% load static %} {% block content %} {{ block.super}} <div
  class="jumbotron jumbotron-fluid overlay"
  style="background-image:url('{{project.proj_img.url}}'); background-size:cover; height:300px; background-position: center; background-repeat: no-repeat;">
  <div class="overlay">
    <a href="{{project.link}}" style="text-decoration: none;"><i class="bi bi-arrow-right-circle project-icon"></i></a>
  </div>
</div>
<!-- <a href="#rate-form" onclick="openTab(event, 'Rate')">
    <div class="vote text-center">Rate project now</div>
</a> -->
<div class="details text-center">
  <div class="title">
    <a href="{{project.link}}" target="_blank">
      <h3 class="project-title">{{project.name}}</h3>
    </a>
  </div>
  <div class="owner">By <span><a
        href="{% url 'profile' project.profile.user.id %}">{{project.profile.user.username}}</a></span> from
    {{project.profile.location}}</div>
  <div class="description mt-5">{{project.desc}}</div>
  <div class="d-flex">
  </div>
  <div class="tabs mt-5">
    <div class="tablinks" onclick="" id="defaultOpen">Votes</div>
    <div class="tablinks" onclick="">Rate project</div>
  </div>
  <hr>
  <div id="Votes" class="tabcontent">
    <div class="vote-titles">
      <img src="" alt="voter" class="invisible">
      <p class="voter-name"></p>
      <p class="vote-title ">Content</p>
      <p class="vote-title ">Design</p>
      <p class="vote-title ">Usability</p>
    </div>
    <div class="vote-details">
    </div>
    <div class="text-center have-already">No votes yet</div>
  </div>
  <div id="Rate" class="tabcontent">
    <div class="text-center have-already">You have already rated this project</div>
    <div id="rate-form">
      <div class="text-center">
        <div class="title">Rate project</div>
        <hr>
        <div class="guide">Rate the project based on usability, content and design</div>
      </div>
    </div>
  </div>
</div>
<!-- Footer  -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">The awards for design, creativity and innovation on the Internet</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
        </ul>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="/">Home</a></li>
          <li><a href="/profile/{{request.user.id}}">Profile</a></li>
          <li><a href="/create_project">Add Project</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by <a href="#">Joy Kirii</a>. </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="bi bi-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="bi bi-twitter"></i></a></li>
          <li><a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer  --> {% endblock %}